.label {
    -fx-font-family: 'Silkscreen';
    -fx-font-weight: normal;
    -fx-font-size: 60px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 15, 0.3, 0, 0); /* glow effect */
}